<% content_for :title do %>
  <title>登録した施設 | 自転車空気入れマップ</title>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h1>あなたの登録した施設</h1>
      <p>登録件数：<%= @spots.total_count %>件</p>
      <ul>
        <% @spots.each do |spot| %>
          <li>
            <p><%= link_to spot.name, spot_path(spot) %></p>
            <p><%= spot.decorate.full_address %></p>
          </li>
        <% end %>
      </ul>
      <%= paginate @spots, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>
