<% content_for :title do %>
  <title>パスワードリセット | 自転車空気入れマップ</title>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto mt-3 mb-5">
      <h1>パスワードリセット</h1>
      <div class="card">
        <div class="card-body">
          <p class="card-text">
            パスワードをお忘れになったアカウントのメールアドレスを入力してください。<br>
            パスワード再設定メールが届きましたら、メール内のリンクをクリックしパスワードを再設定できます。<br>
            メールが受信できない場合、迷惑メールに振り分けられていないかご確認お願いいたします。
          </p>
        </div>
      </div>
      <%= form_with url: password_resets_path, local: true do |f| %>
        <div class="mb-3 mt-3">
          <%= f.label :email, class: 'form-label' %>
          <%= f.email_field :email, class: 'form-control', required: true %>
        </div>
        <%= f.submit t('helpers.submit.send'), class: 'btn btn-primary col-12 col-lg-2' %>
      <% end %>
    </div>
  </div>
</div>
