<div class="card mb-3" id="comment_<%= comment.id %>">
  <div class="card-body">
    <p class="card-text"><%= comment.content %></p>
    <p class="card-text text-secondary text-end">
      <%= "#{comment.created_at.strftime('%Y/%m/%d %H:%M')}　#{comment.user&.name || '(Anonymous)'}" %>
    </p>
    <% if logged_in? && (current_user.admin? || current_user.id == comment.user_id) %>
      <div class="d-flex">
        <%= link_to comment_path(comment), method: :delete, remote: true, class: 'ms-auto', data: { confirm: '本当に削除してよろしいですか？' } do %>
          <button class="btn btn-danger">削除</button>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
