<div class="container-fluid gx-0">
  <div id="map"></div>
</div>

<script>
  function adjustMapHeight() {
    var headerHeight = document.getElementById('header').offsetHeight;
    document.getElementById('map').style.height = `calc(100vh - ${headerHeight}px)`;
  }

  window.onload = adjustMapHeight;
  window.onresize = adjustMapHeight;
</script>

<script async
  src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap">
  // <%= ENV["GOOGLE_MAPS_API_KEY"] %>
</script>

<%= javascript_include_tag 'google_maps_script' %>
