<% content_for :title do %>
  <title>自転車空気入れマップ</title>
<% end %>

<div id="loadingMessage" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background: #333; padding: 10px; color: #fff; display: none;">
  Loading map
</div>

<main class="container-fluid gx-0" id="map-container">
  <div id="map"></div>
</main>

<script>
  function adjustMapHeight() {
    var headerHeight = document.getElementById('header').offsetHeight;
    document.getElementById('map').style.height = `calc(100vh - ${headerHeight}px)`;
    document.getElementById('map-container').style.marginTop = `${headerHeight}px`;
  }

  window.onload = adjustMapHeight;
  window.onresize = adjustMapHeight;
</script>

<script async
  src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap">
  // <%= ENV["GOOGLE_MAPS_API_KEY"] %>
</script>

<%= javascript_include_tag 'google_maps_script' %>
