<% content_for :title do %>
  <title>サービスについて | 自転車空気入れマップ</title>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto mt-3 mb-5">
      <h1>サービスについて</h1>
    </div>
  </div>
</div>
