<% content_for :title do %>
  <title>サービスについて | 自転車空気入れマップ</title>
<% end %>

<main class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto mt-3 mb-5">
      <h1>サービスについて</h1>
      <div class="mt-3">
        <div>
          <h2 class="text-secondary fs-5">自転車空気入れマップとは</h2>
          <p class="ms-3">
            本サービスは、無料で使える自転車空気入れ貸出しスポットのユーザー共有型マップです。<br>
            以下のようなシーンで、ぜひ本サービスをご活用ください。
            <ul class="ms-3">
              <li>自転車で外出中に、タイヤの空気が少なくなっていることに気付いたとき。</li>
              <li>タイヤがパンクして、応急的にタイヤの空気を入れて自宅まで帰りたいとき。</li>
              <li>ロングライド中に、タイヤの空気を補充したいとき。</li>
              <li>自宅に空気入れがないので、近くの空気入れを貸してくれる施設を探したいとき。</li>
            </ul>
          </p>
        </div>
        <div>
          <h2 class="text-secondary fs-5">免責</h2>
          <p class="ms-3">
            本サービスは個人で開発し管理しているものです。<br>
            本サービスを使用して発生したトラブルについて、開発者は一切の責任を負いかねますのでご了承ください。
          </p>
        </div>
        <div>
          <h2 class="text-secondary fs-5">禁止行為</h2>
          <p class="ms-3">
            公序良俗に反した文章の投稿は禁止とさせていただきます。<br>
            そのような投稿内容を発見した際は、予告なく投稿の削除等の措置を取らせていただきます。<br>
            また、一般の個人宅等、公共の場所ではない住所を登録することは禁止です。
          </p>
        </div>
        <div>
          <h2 class="text-secondary fs-5">個人情報の取扱い</h2>
          <p class="ms-3">
            登録された個人情報は、本サービスの運営以外の目的には使用いたしません。<br>
            アカウント登録の際は、個人の特定につながるようなユーザー名や推測されやすいパスワードのご使用はお控えください。
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
