header {
  background-color: #1E50A2;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);

  .navbar-toggler {
    border: none;

    &:focus {
      box-shadow: none;
    }
  }

  .dropdown-toggle {
    border: none;

    &::after {
      display: none;
    }
  }
}

.container, .container-fluid {
  margin-top: 57px;

  @media (min-width: 768px) {
    margin-top: 72px;
  }
}

header .container, header .container-fluid {
  margin-top: 0;
}
